.swp
spec/fixtures/artifacts/*
!spec/fixtures/artifacts/.gitignore
spec/fixtures/modules/*
!spec/fixtures/modules/logstash
files/*.gem
files/*.rpm
files/*.deb
.bundle
.vendor
.vagrant
.ruby-version
.yardoc
pkg/
spec/reports/
spec/logs
log
*.lock
**.swp
