---
sudo: false
dist: trusty
language: ruby
cache: bundler

before_install:
  - bundle -v
  - rm Gemfile.lock || true
  - gem update --system
  - gem update bundler
  - gem --version
  - bundle -v

script:
  - 'bundle exec rake test'

matrix:
  fast_finish: true
  include:
    - rvm: 2.4.1
      bundler_args: --without system_tests
      env: PUPPET_GEM_VERSION="~> 4.0"
    - rvm: 2.3.1
      bundler_args: --without system_tests
      env: PUPPET_GEM_VERSION="~> 4.0"
    - rvm: 2.1.7
      bundler_args: --without system_tests
      env: PUPPET_GEM_VERSION="~> 4.0"
