.swp
.#*
spec/fixtures/artifacts/*
!spec/fixtures/artifacts/.gitignore
spec/fixtures/modules/*
!spec/fixtures/modules/logstash
files/*.gem
files/*.rpm
files/*.deb
templates/configfile-template.erb
.bundle
.vendor
.vagrant
.ruby-version
.yardoc
pkg/
spec/reports/
spec/logs
log
doc
*.lock
**.swp
files/logstash-output-cowsay-5.0.0.zip
